/* Error: Undefined variable.
 *    ,
 * 47 |         null: $box-shadow,
 *    |               ^^^^^^^^^^^
 *    '
 *   node_modules\bootstrap\scss\_utilities.scss 47:15  @import
 *   scss\_bootstrap.scss 2:9                           @import
 *   scss\_theme.scss 16:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 47 \2502          null: $box-shadow,\a    \2502                ^^^^^^^^^^^\a    \2575 \a   node_modules\\bootstrap\\scss\\_utilities.scss 47:15  @import\a   scss\\_bootstrap.scss 2:9                           @import\a   scss\\_theme.scss 16:9                              root stylesheet";
}
